<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "all" %>
    <%= favicon_tag 'images/favicon.ico' %>

    <title>Appcanary Podcast</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial "layouts/typekit" %>

    <div class="topbar"></div>
    <div id="header">
      <div class="preamble">
        <a href="https://podcast.appcanary.com"><img class="logo" src="/images/canary-miner.medium.png" alt="Appcanary logo"></a>
        <p>
          <b><a href="https://appcanary.com">Appcanary</a></b> makes sure you never run vulnerable software on your servers.
        </p>
        <p>
          This is where we host our podcast. Subscribe on <a href="https://itunes.apple.com/ca/podcast/appcanary-podcast/id1215405635">iTunes</a>, or grab <a href="/podcast.rss">the feed</a>.<br/>
          If you like it, check out our <a href="http://blog.appcanary.com">blog</a>, or browse the <a href="/archive.html">archive</a>.
        </p>
      </div>
    </div>

    <%= yield %>

    <%= partial "layouts/analytics" %>
    
  </body>
</html>
