<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "all" %>
    <%= favicon_tag 'images/favicon.ico' %>

    <title>Appcanary Podcast</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial "layouts/typekit" %>

    <div class="topbar"></div>
    <div id="header">
      <div class="preamble">
        <img class="logo" src="/images/canary-miner.medium.png">
        <p>
          <a href="https://appcanary.com">Appcanary</a> makes sure you never run vulnerable software on your servers.</p>
        <p>
          This is where we host our podcast. If you like it, check out our <a href="http://blog.appcanary.com">blog</a>!
          <br/>
          Follow us on <a href="https://twitter.com/appcanary">twitter</a>, <a href="https://github.com/appcanary">github</a> or via <a href="/feed.xml">rss</a>. Browse our <a href="/archive">archive</a>.
        </p>
      </div>
      <div class="preamble">
      </div>
    </div>

    <%= yield %>

    <%= partial "layouts/analytics" %>
    
  </body>
</html>
